</body>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-custom.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<style>
    tr,
    th,
    td {
        border: 1px solid #d6d6d6;
    }
    
    table thead th {
        text-align: center;
        width: 10%;
    }
    
    .ui-free {
        display: inline-block;
        float: none;
        margin: 0;
    }
    
    .closed {
        background-color: #E9E9E9;
    }
    
    .reserved {
        background-color: #EDEDED;
    }
    
    .reserved div,
    .closed div,
    th div {
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 1.0em;
    }
    
    .reserved div {
        font-size: 12px;
        font-weight: bold;
    }
    
    .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
        cursor: auto;
        background-color: #fff;
    }
</style>

</html>