<% include ./header.ejs %>
    <div id="read-page" data-role="page">
        <div data-role="header">
            <h1>VR: Reservation Confirmation</h1>
            <a href="/" data-role="button">Back</a>

            <!-- 중앙에 '게시글 조회' 타이틀 -->
            <!-- 좌측에 '뒤로 가기' 버튼 -->
        </div>
        <div data-role="content">
            <label>비밀번호가 틀렸습니다.</label>
            <button data-role="button" onclick="history.back();">뒤로가기</button>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>By Sanop(rshtiger@g.skku.edu)</h4>
        </div>
    </div>
    <% include ./footer.ejs %>